/* Body sin márgenes */
body {
  margin: 0;
  background: #000000;
  cursor: crosshair;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

/* Estilo del canvas para los fuegos artificiales */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Para que el canvas esté detrás del contenido */
}

/* Estilo del botón */
#surpriseBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  font-size: 1.5em;
  color: white;
  background-color: #096981;
  border: 2px solid #023e4d;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

#surpriseBtn:hover {
  background-color: #4A90E2;
  border-color: #4A90E2;
}

/* Estilo para los mensajes de cumpleaños */
#messageDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 4em;
}

/* Medios adaptativos */
@media (max-width: 480px) {
  h1 {
      font-size: 2.5em;
  }
  h2 {
      font-size: 2em;
  }
}
